
 * {
    box-sizing: border-box;
}

body {
    background-color: #57cc99;
    display: flex;
    justify-content: center;
}

.box {
    border: 2px solid black;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background-color: #4c72a3;
    width: 600px;
    height: 630px;
    text-align: -webkit-center;
}

.levelsBox {
    margin-top: 10px;
    margin-bottom: 20px;
}

.level {
    border-radius: 10px;
}

.cell {
    width: 8%;
    height: 8%;
    background-color: #aed9e0;
    text-align: center;
    border: 1px solid black;
    font-family: 'Orbitron', sans-serif;
}
.cell:hover {
    background-color: #f17c73e1;
    text-align: center;
}

.emty {
    background-color: #5c949c;
}

.fechras {
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 18px;
    font-family: 'Orbitron', sans-serif;
}
.timer {
    margin-right: 25px;
    width: 20px;
    display: inline-block;
}
.emoji {
    margin-right: 10px;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}
.modal {
    left: 40%;
    background-color: #9999fcec;
    display: none;
    position: absolute;
    top: 150px;
    padding: 5px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
}

.modal h2 {
    font-size: 50px;
    color: black;
}

.board {
    text-align: center;
    border: 1px solid rgb(163, 163, 163);
    width: 450px;
    height: 450px;
    border-spacing: 0px;
}

table {
    width: 100%;
    height: 100%;
}
.footer{
    margin-top: 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;

}

